@font-face {
    font-family: 'westernFont';
    src: url('../fonts/western.otf');
}

h1{
  color:white;
  font-family: 'westernFont';
  font-size: 100px;
}
body{
  /*background-color: #ccc;*/
  background: url("../images/westernBackground.jpg") no-repeat fixed;
  background-size: cover;
  text-align: center;
}

.lettersAndWord {
    /* display: inline-block; */
    position: relative;
    left: 29%;
    top: 200px;
    width: 70%;
}

/*found below on stackoverflow*/
.clicked{
  opacity:0.4;
  filter:alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  cursor:default;
}

#gameBoard{
  margin-left: 15em;
  margin-right: 15em;
}

/* Found this awesome resource: http://css3buttongenerator.com/ */
button {
  background: #eb6767;
  background-image: -webkit-linear-gradient(top, #eb6767, #851414);
  background-image: -moz-linear-gradient(top, #eb6767, #851414);
  background-image: -ms-linear-gradient(top, #eb6767, #851414);
  background-image: -o-linear-gradient(top, #eb6767, #851414);
  background-image: linear-gradient(to bottom, #eb6767, #851414);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 35px;
  padding: 10px 20px 10px 20px;
  border: solid #520b0b 2px;
  text-decoration: none;
}

button:hover {
  background: #b02929;
  background-image: -webkit-linear-gradient(top, #b02929, #610e0e);
  background-image: -moz-linear-gradient(top, #b02929, #610e0e);
  background-image: -ms-linear-gradient(top, #b02929, #610e0e);
  background-image: -o-linear-gradient(top, #b02929, #610e0e);
  background-image: linear-gradient(to bottom, #b02929, #610e0e);
  text-decoration: none;
}

.randomWord {
  padding: 50px;
  font-size: 30px;
}

.letterOnPage {
  display: inline-block;
  border-bottom: 1px solid black;
  margin-left: 5px;
  width: 1em;
  color: transparent;
}

.spaceOnPage {
  display: inline-block;
  margin-left: 5px;
  width: 1em;
}

.correctGuess{
  color: black;
  display: inline-block;
  margin-left: 5px;
  width: 1em;
}

.imageContainer {
    height: 220px;
    width: 100px;
    position: absolute;
    top: 12em;
    left: 20em;
}


.gameContainer {
  position: absolute;
  top: 6%;
}

.hangman{
  background-image: url(../images/man.png);
  background-position: 0px -407px;
  zoom:2.6;
  height:200%;
  width:200%;
  display: inline-block;
}

.hangman1{
  background-image: url(../images/man.png);
  background-position: -73px -407px;
  zoom:2.6;
  height:200%;
  width:200%;
}

.hangman2{
  background-image: url(../images/man.png);
  background-position: -148px -407px;
  zoom:2.6;
  height:200%;
  width:200%;
}

.hangman3{
  background-image: url(../images/man.png);
  background-position: -223px -407px;
  zoom:2.6;
  height:200%;
  width:200%;
}

.hangman4{
  background-image: url(../images/man.png);
  background-position: -298px -407px;
  zoom:2.6;
  height:200%;
  width:200%;
}

.hangman5{
  background-image: url(../images/man.png);
  background-position: -373px -407px;
  zoom:2.6;
  height:200%;
  width:200%;

}

.hangman6{
  background-image: url(../images/man.png);
  background-position: -448px -407px;
  zoom:2.6;
  height:200%;
  width:200%;
}

#playAgain{
  visibility: hidden;
  background: #0d6ce0;
  background-image: -webkit-linear-gradient(top, #0d6ce0, #20376e);
  background-image: -moz-linear-gradient(top, #0d6ce0, #20376e);
  background-image: -ms-linear-gradient(top, #0d6ce0, #20376e);
  background-image: -o-linear-gradient(top, #0d6ce0, #20376e);
  background-image: linear-gradient(to bottom, #0d6ce0, #20376e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

#playAgain:hover {
  background: #3bd44a;
  background-image: -webkit-linear-gradient(top, #3bd44a, #194d15);
  background-image: -moz-linear-gradient(top, #3bd44a, #194d15);
  background-image: -ms-linear-gradient(top, #3bd44a, #194d15);
  background-image: -o-linear-gradient(top, #3bd44a, #194d15);
  background-image: linear-gradient(to bottom, #3bd44a, #194d15);
  text-decoration: none;
}

.gameOutcome{
  font-size: 3em;
  color: red;
  margin-top: -46px;
}
